@import 'ui-variables';

#prelum-html-view {
  overflow-y: auto;
  overflow-x: hidden;
}

.prelum-document {
  max-width: none !important;
}

.prelum {
  .syntax--parameter {
    color: @syntax-color-snippet;
  }
}

atom-text-editor.editor {
  .syntax--prelum {
    &.syntax--parameter {
      color: @syntax-color-snippet;
    }

    &.syntax--name.syntax--function {
      color: @syntax-color-variable;
    }

    &.syntax--constant.syntax--character {
      color: @text-color-info;
    }

    &.syntax--constant.syntax--language {
      color: @syntax-color-class;
    }
  }
}
